{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<style>
</style>
<script>
function submitForm() {
	var form = $("#entireForm")
    $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function (data) {
            alert(data['success'] ? 'success' : data['error']);
            _isDirty = false;
        }
    });
}
</script>
{% endblock %}

{% block title %}
<div class="title">Dashboard</div>
{% endblock %}
{% block rightNavButton %}
<a style="color:white; margin-right: 20px; margin-top: 10px;" href="\login">Logout</a>
{% endblock %}

{% block content %}
<!-- Page Content -->

			<div class="row col-md-8 col-md-offset-2">
				<div style="margin: 50px; margin-top: 70px; margin-bottom: 20px;" class="panel panel-default">
					<div class="panel-body">
						Saved
					</div>
				</div>
			</div>
			<div class="row col-md-8 col-md-offset-2">
				<div style="margin: 50px; margin-top: 0px;" class="panel panel-default">
					<div class="panel-body">
			            <ul class="nav nav-tabs" id="myTab">
		            		<li class="active"><a data-target="#applications" data-toggle="tab">Applications</a></li>
							<li class=""><a data-target="#profile" data-toggle="tab">Profile</a></li>
						</ul>

						<form id="entireForm" method="post" >
							<div class="tab-content">
							  	<div class="tab-pane active" id="applications">
						  			<div class="container-fluid">
							  			{% crispy performerForm %}
							  			{% crispy teacherForm %}
							  			{% crispy pieceForm1 %}
							  			{% crispy pieceForm2 %}
							  			{% crispy chinesePieceForm %}
									</div>
									<input type="submit" class="btn btn-success" value="Submit" onclick="submitForm();">
							  	</div>
	  							<div class="tab-pane" id="profile">
	  								<div class="container-fluid">
							  			{% crispy parentForm %}
									</div>
									<input class="btn btn-success" value="Submit" onclick="submitForm();">
							 	</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br><br>
    <!-- /.container -->
{% endblock %}