{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<style>
	.form-horizontal {
		margin: 0px;
	}
	.login-container {
		height: 500px;
		width: 300px;
	}
	.centered-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.description {
		text-align: left;
		font-size: 12px;
		margin: 5px;
		color: #949494;
	}
	.form-group {
		margin: 0px;
	}
	.title {
		margin-left: 50px;
	}
</style>
{% endblock %}

{% block title %}
<div class="title">Welcome</div>
{% endblock %}

{% block rightNavButton %}
<a style="color:white; margin-right: 20px; margin-top: 10px;" href="\logout">Home</a>
{% endblock %}

{% block content %}
<!-- Page Content -->
	<div class="centered-container">
		<div class="login-container">
			<div class="login-panel panel panel-default">
			    <div class="panel-heading">
			        <h3 class="panel-title">{{ panel_title }}</h3>
			    </div>
		        {% if messages %}
		          <div class="messages">
		              {% for message in messages %}
		                  <div {% if message.tags %} class="alert alert-warning"{% endif %}>{{ message }}</div>
		              {% endfor %}
		          </div>
		        {% endif %}
			    
			    <div class="panel-body">
			    	{% crispy user_form user_form.helper %}
			    	
			    </div>
			</div>
		</div>
	</div>
    <!-- /.container -->
{% endblock %}