.side-bar {
  display: flex;
  flex-direction: column;

  width: $side-bar-width;
  background-color: $secondary-brand-color;
  padding: 20px;
  .content {
    
  }
}

.success-container {
  border: 1px solid #d6e9c6;
  width: 100%;
  padding: 12px 8px 12px 8px;
  font-weight: 400;
  font-size: 14px;
  color: #3c763d;
  background-color: #dff0d8;
}

.alert-container {
  border: 1px solid #ebccd1;
  width: 100%;
  padding: 12px 8px 12px 8px;
  font-weight: 400;
  font-size: 14px;
}

.information-container {
  border: 1px solid #000000;
  width: 100%;
  padding: 12px 8px 12px 8px;
  font-weight: 200;
  font-size: 14px;
}

.panel-body {
  padding: 15px 12px 10px 12px;
  border: 1px solid $input-border-color;
}

.application-form-div {
  max-width: $application-max-width; 
}

#awards-column {
  max-width: 300px;
}

#instrument-category-column {
  max-width: 200px;
}

#created-at-column {
  max-width: 124px;
}

.panel-default {
  border-radius: 0px;
}

.content {
  margin-top: $nav-height;
  margin-bottom: $footer-height;
  min-height: calc(100% - #{$nav-height} - #{$footer-height});

  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}

.content-with-margins {
  @extend .content;
  margin: auto;
  max-width: 600px; 
  margin-top: $nav-height + 50px;
  margin-bottom: $footer-height + 50px;
}

.centered-align-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  min-height: calc(100% - #{$nav-height} - #{$footer-height});
}

.centered-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100% - #{$nav-height} - #{$footer-height});
}


.navbar {
  min-height: $nav-height !important;
  background-color: $primary-brand-color;
  .navbar-brand{
    padding: 10px;
    .navbar-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .navbar-brand-title {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        span#title{
          color: white;
          font-size: 22px;
          font-weight: 300;
        }
        span#subtitle{
          color: white;
          font-size: 15px;
          font-weight: 200;
        }
      }
    }
  }
}

footer {
  background-color: $secondary-brand-color;
  color: $footer-text-color;
  position:fixed;
  width: 100%;
  height: $footer-height;
  bottom:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 200;
  padding: 10px;
}