{% extends 'registration_site/auth/auth_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block panel_title %}
Sign in  
{% endblock %}

{% block form %}

<form method="post">
  {% csrf_token %}
  <div class="group-input">
    <input class="textinput textInput form-control" id="id_email" name="email" placeholder="Email" type="text" required="">
    <input class="textinput textInput form-control" id="id_password" name="password" placeholder="Password" type="password" required="">
  </div>
  <div style="height:10px;"></div>

  <div class="flex-column flex-center">
    <input type="submit" name="submit" value="Enter" class="btn btn-primary btn-login" id="submit-id-submit">
    <div style="height:22px;"></div>

    <span><a href="/register/">Create an Account </a></span>
  </div>
</form>
{% endblock %}