
$primary-brand-color: #6B174F;
$primary-brand-color-faded: #9B9499;
$secondary-brand-color: #ECECEC;
$wrapper-background-color: #FAFAFA;
$container-background-color: #FDFEFE;
$border-color: #e0e2e3;
$nav-height: 70px;
$footer-height: 36px;
$form-input-height: 30px;
$application-max-width: 550px;
$footer-text-color: black;
$side-bar-width: 150px;
$input-border-color: #959595;