@import "stylesheets/constants";
@import "stylesheets/components/containers";
@import "stylesheets/components/text";
@import "stylesheets/components/input";
@import "stylesheets/components/spacers";
@import "stylesheets/components/bootstrap_defaults";
@import "stylesheets/components/buttons";
@import "stylesheets/components/flex";

#small_logo{
  height: 50px;
  width: 50px;
}

html * {
  font-family: 'Fira Sans' !important;
  font-weight: 300;
}

.form-horizontal {
  margin: 0px;
}