@import "stylesheets/constants";
@import "stylesheets/components/containers";
@import "stylesheets/components/text";
@import "stylesheets/components/input";
@import "stylesheets/components/spacers";
@import "stylesheets/components/bootstrap_defaults";
@import "stylesheets/components/buttons";
@import "stylesheets/components/flex";

#small_logo{
  height: 50px;
  width: 50px;
}

.content {
  margin-top: $nav-height;
  margin-bottom: $footer-height;
  min-height: calc(100% - #{$nav-height} - #{$footer-height});

  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}

.centered-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100% - #{$nav-height} - #{$footer-height});
}

html * {
  font-family: 'Fira Sans' !important;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

.form-horizontal {
  margin: 0px;
}