{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
{% endblock %}

<!-- Title -->
{% block title %}USIMC International Music Competition{% endblock %}
{% block subtitle %}Hosted by CMTANC{% endblock %}

<!-- Nav Button -->
{% block rightNavButton %}{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="centered-wrapper">
  <div class="flex-column">
    <div>
      <div style="height: 40px;"></div>
      <div class="text-centered"><h2>Application Panel</h2></div>
      <div class="flex-align-items-center flex-justify-content-center">
        <h4>Logged in as {{ user.email }}</h4>
      </div>
      <div class="flex-align-items-center flex-justify-content-center">
        <a href="{% url 'registration_site:new_application' %}" type="button" class="btn btn-submit">Create a new Application</a>
        <div style="width: 10px;"></div>
        <a class="btn btn-default" href="{% url 'registration_site:logout' %}" type="button">Log out</a>
      </div>
    </div>
    <div style="height: 5px;"></div>
    <div class="horizontal-line"></div>
    <div style="height: 10px;"></div>
    <!-- Unsubmitted and Submitted Applications -->
    {% if unsubmitted_entries_formatted|length == 0 and unsubmitted_entries_formatted|length == 0 %}
      <h3 style="padding-left: 8px;">No Applications in Progress</h3>
    {% else %}
      <!-- Unsubmitted Applications -->
      {% if unsubmitted_entries_formatted|length == 0 %}
        <h3 style="padding-left: 8px;">No Applications in Progress</h3>
      {% else %}
        <h3 style="padding-left: 8px;">Applications in Progress</h3>
        <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th><strong>Awards applying for</strong></th>
              <th><strong>Instrument category</strong></th>
              <th><strong>Age category</strong></th>
              <th><strong>Created at</strong></th>
              <th><strong>Submitted</strong></th>
            </tr>
          </thead>
          <tbody>
            {% for entry in unsubmitted_entries_formatted %}
              <tr>
                <td data-title="Awards" id="awards-column">{{ entry.awards|linebreaksbr }}</td>
                <td data-title="Instrument">{{ entry.instrument_category }}</td>
                <td data-title="Age">{{ entry.age_category }}</td>
                <td data-title="Created" id="created-at-column">{{ entry.created_at }}</td>
                <td data-title="Submitted">{{ entry.submitted }}</td>
                <td><a href="{% url 'registration_site:edit_application_redirect' pk=entry.pk %}">Edit</a></td>
                <td><a href="{% url 'registration_site:delete_application' pk=entry.pk %}">Delete</a></td>
                <td><button class="btn btn-default">Submit</button></td>
              </tr>
            {% endfor %}
            <tr>
          </tbody>
        </table>
      {% endif %}
      <!-- Submitted Applications -->
      {% if unsubmitted_entries_formatted|length == 0 %}
        <h3 style="padding-left: 8px;">No Submitted Applications</h3>
      {% else %}
        <h3 style="padding-left: 8px;">Submitted Applications</h3>
        <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th><strong>Awards applying for</strong></th>
              <th><strong>Instrument category</strong></th>
              <th><strong>Age category</strong></th>
              <th><strong>Created at</strong></th>
              <th><strong>Submitted</strong></th>
            </tr>
          </thead>
          <tbody>
            {% for entry in unsubmitted_entries_formatted %}
              <tr>
                <td data-title="Awards" id="awards-column">{{ entry.awards|linebreaksbr }}</td>
                <td data-title="Instrument" id="instrument-category-column">{{ entry.instrument_category }}</td>
                <td data-title="Age">{{ entry.age_category }}</td>
                <td data-title="Created" id="created-at-column">{{ entry.created_at }}</td>
                <td data-title="Submitted">{{ entry.submitted }}</td>
                <td><a href="{% url 'registration_site:edit_application_redirect' pk=entry.pk %}">Edit</a></td>
              </tr>
            {% endfor %}
            <tr>
          </tbody>
        </table>
      {% endif %} <!-- submitted endif -->
    {% endif %} <!-- unsubmitted and submitted endif -->
    <div>
      <div style="height: 40px;"></div>
    </div>
  </div>
</div>
{% endblock %}