{% extends 'registration_site/application_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
{% endblock %}

<!-- Title -->
{% block title %}USIMC International Music Competition{% endblock %}
{% block subtitle %}Hosted by CMTANC{% endblock %}

<!-- Nav Button -->
{% block rightNavButton %}{% endblock %}

<!-- Main Content -->
{% block form_title %}
  Step 2. Performance Information
{% endblock %}
{% block form %}
  <form action="." method="post">
    {% csrf_token %}
    <div class="flex-column flex-center">
      <div class="flex-row">
        <div>
          <h3>Person Form</h3>
          {{ person_form|crispy }}
        </div>
        <div style="width: 30px;"></div>
        <div>
          <h3>Piece Form</h3>
          {{ piece_form|crispy }}
        </div>
      </div>
      <div style="height: 30px;"></div>
      <div class="nav-panel">
        <a href="{% url 'registration_site:dashboard' %}" type="button" class="btn btn-default">Back</a>
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </div>
  </form>
{% endblock %}