{% extends 'registration_site/application_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
<script src="{% static 'registration_site/jquery.formset.js' %}"></script>
<script src="{% static 'registration_site/edit_solo_application.js' %}"></script>
{% endblock %}

<!-- Title -->
{% block title %}USIMC International Music Competition{% endblock %}
{% block subtitle %}Hosted by CMTANC{% endblock %}

<!-- Nav Button -->
{% block rightNavButton %}{% endblock %}

<!-- Main Content -->
{% block form_title %}
  Edit Application
{% endblock %}
{% block form %}
  <div class="flex-start">
    <a href="{% url 'registration_site:dashboard' %}" class="btn btn-default">Back</a>
  </div>
  <div style="height: 20px"></div>
  <form action="." method="post">
    {% csrf_token %}
    <div class="flex-column flex-center" style="max-width: 800px;">
      <form id="myForm" method="post" action="">
          <h3>Parent</h3>
          {{ contact_form|crispy }}

          <h3>Teacher</h3>
          {{ teacher_form|crispy }}

          <h3>Competitor</h3>
          {{ lead_competitor_form|crispy }}
          
          <h3>Pieces</h3>
          <table id="piece-table" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                  {% for form in piece_formset.forms %}
                  <tr>
                      <td>
                        {{ form.id }}
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                      </td>
                      <td>
                        {{ form.title.label_tag}}
                        {{ form.title }}
                        {{ form.composer.label_tag}}
                        {{ form.composer }}
                        {{ form.catalogue.label_tag}}
                        {{ form.catalogue }}
                        {{ form.is_chinese.label_tag}}
                        {{ form.is_chinese }}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div>
            {{ piece_formset.management_form }}
          </div>
          <input type="submit" value="Save" class="btn btn-success">
      </form>
    </div>
  </form>
{% endblock %}
