.form-section-header {
  font-size: 20px;
  margin-left: 2px;
  font-weight: 200;
}

.form-section-subheader {
  font-size: 14px;
  margin: 0px;
  font-weight: 200;
}

.paragraph-bold {
  font-weight: 400;
}

#piece-form-number {
  width: 20px;
  height: $form-input-height;
  line-height: $form-input-height;
}

a {
  color: $primary-brand-color;
}

.text-centered {
  text-align: center;
}