{% extends 'registration_site/application_submission/application_form.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
<script src="{% static 'registration_site/new_application.js' %}"></script>
{% endblock %}

<!-- Title -->
{% block title %}USIMC International Music Competition{% endblock %}
{% block subtitle %}Hosted by CMTANC{% endblock %}

<!-- Nav Button -->
{% block rightNavButton %}{% endblock %}

<!-- Main Content -->
{% block form_title %}
  <h3 style="margin-top: 20px;">New USIMC Entry</h3>
  <div style="height: 10px;"></div>
{% endblock %}
{% block form %}
  <form action="." method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div style="height: 10px;"></div>
    <div class="nav-panel">
      <a href="{% url 'registration_site:dashboard' %}" type="button" class="btn btn-default">Cancel</a>
      <input type="submit" value="Next" class="btn btn-success">
    </div>
  </form>
{% endblock %}