{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
{% endblock %}

<!-- Title -->
{% block title %}USIMC{% endblock %}
{% block subtitle %}Hosted by USIMF{% endblock %}

<!-- Nav Button -->
{% block rightNavButton %}{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="centered-wrapper">
  <div class="text-centered">
    <h1>Internal Error</h1>
    <span>Sorry, it looks like there's an internal issue with our website.</span><br/>
    <span>Please create another application and retry, or email us at <a href="mailto:support@usimccompetition.com">support@usimccompetition.com</a> regarding your issue and we will help your resolve this as soon as possible</span>
    <div style="height:30px;"></div>
  </div>
  <div style="height:10px;"></div>
  <span style="text-align: center;">
  </span>
</div>
{% endblock %}